.footer {
  background-color: #d3d6d1; /* exact figma-like grey */
  padding: 50px 80px 30px;
  font-family: "Poppins", sans-serif;
}

.footer-inner {
  max-width: 1200px;
  margin: auto;
}

/* TOP */
.footer-top {
  display: flex;
  align-items: center;
  gap: 80px;
}
.footer-top img{
  border-radius: 15px;
}

/* LOGO */
.footer-logo {
  width: 90px;
  height: auto;
}

/* CENTER */
.footer-center {
  text-align: center;
  flex: 1;
}

.brand-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin: 0;
}

.brand-sub {
  display: block;
  font-size: 12px;
  letter-spacing: 6px;
  margin-top: -5px;
}

.tagline {
  font-size: 13px;
  margin: 10px 0 25px;
}

/* NAV */
.footer-nav a {
  margin: 0 15px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

/* SOCIAL */
.social-icons {
  margin-top: 18px;
}

.social-icons span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 6px;
  font-size: 12px;
}

/* LINE */
.footer-line {
  height: 1px;
  background-color: #777;
  margin: 30px 0 20px;
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}
