stack-cards__list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
* {
    vertical-align: bottom;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    text-transform: var(--_text-style---text-transform);
    /* font-smoothing: antialiased; */
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: var(--_theme---background--primary);
    font-family: var(--_text-style---font-family);
    color: var(--_theme---content--primary);
    font-size: var(--_text-style---font-size);
    line-height: var(--_text-style---line-height);
    font-weight: var(--_text-style---font-weight);
    letter-spacing: var(--_text-style---letter-spacing);
    text-transform: var(--_text-style---text-transform, none);
    background-image: linear-gradient(135deg, #eacbaa80, #ebe3d780 34.58%);
}
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
:root {
    --grid-breakout: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
    --grid-breakout-single: [full-start] minmax(0, 1fr) [content-start] minmax(0, var(--container--main)) [content-end] minmax(0, 1fr) [full-end];
}
:root {
    --_theme---background--primary: var(--_primitive-color---neutral--0);
    --_text-style---font-family: var(--_typography---font--primary-family);
    --_theme---content--primary: var(--_primitive-color---neutral--900);
    --_text-style---font-size: var(--_typography---font-size--text-main);
    --_text-style---line-height: var(--_typography---line-height--1-5);
    --_text-style---font-weight: var(--_typography---font--primary-medium);
    --_text-style---letter-spacing: var(--_typography---letter-spacing--0em);
    --_heading-style---font-family: var(--_typography---font--secondary-family);
    --_heading-style---font-size: var(--_typography---font-size--text-main);
    --_heading-style---line-height: var(--_typography---line-height--1);
    --_heading-style---font-weight: var(--_typography---font--secondary-regular);
    --_heading-style---letter-spacing: var(--_typography---letter-spacing--0-02em);
    --_heading-style---margin-top: var(--_spacing---space--5);
    --_heading-style---margin-bottom: var(--_spacing---space--2);
    --_paragraph-style---margin-bottom\<deleted\|variable-256ff50d-9940-a8fd-4ad4-61a597513149\>: var(--_spacing---space--4);
    --_text-style---margin-top: var(--_spacing---space--6);
    --_text-style---margin-bottom: var(--_spacing---space--6);
    --_spacing---space--6: clamp(2 * 1rem, ((2 - ((2.5 - 2) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((2.5 - 2) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 2.5 * 1rem);
    --_paragraph-style---font-family\<deleted\|variable-e820e9c8-19fb-76fc-895a-d41b30df2266\>: var(--_typography---font--secondary-family);
    --_paragraph-style---font-size\<deleted\|variable-70a38a61-60c7-2ff4-3894-6f313afadec2\>: var(--_typography---font-size--text-main);
    --_paragraph-style---line-height\<deleted\|variable-b5f95322-897c-df18-12f4-b2a7cc2a1a7a\>: var(--_typography---line-height--1-3);
    --_paragraph-style---font-weight\<deleted\|variable-abf59464-8799-c6ab-ff89-abe8de372711\>: var(--_typography---font--primary-medium);
    --_paragraph-style---letter-spacing\<deleted\|variable-31922d5e-ff63-e5a6-4a50-bb3e4dbc6132\>: var(--_typography---letter-spacing--0em);
    --_spacing---space--7: clamp(2.25 * 1rem, ((2.25 - ((3 - 2.25) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((3 - 2.25) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 3 * 1rem);
    --radius--main: 2rem;
    --_theme---content--tertiary: var(--_primitive-color---neutral--600);
    --_theme---content--link: var(--_primitive-color---brand--500);
    --_typography---font--primary-bold: 700;
    --max-width--main: calc(var(--site--viewport-max) * 1.875rem);
    --site--margin: clamp(1 * 1rem, ((1 - ((3 - 1) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((3 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 3 * 1rem);
    --max-width--small: 50rem;
    --_spacing---space--2: clamp(.625 * 1rem, ((.625 - ((.75 - .625) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((.75 - .625) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), .75 * 1rem);
    --site--gutter: 3rem;
    --_gap---size: var(--site--gutter);
    --_theme---background--brand: var(--_primitive-color---brand--500);
    --_theme---background--brand-secondary: var(--_primitive-color---lavender--500);
    --_spacing---space--1: clamp(.375 * 1rem, ((.375 - ((.5 - .375) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((.5 - .375) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), .5 * 1rem);
    --_spacing---space--3: clamp(.875 * 1rem, ((.875 - ((1 - .875) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1 - .875) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1 * 1rem);
    --_spacing---space--4: clamp(1.25 * 1rem, ((1.25 - ((1.5 - 1.25) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((1.5 - 1.25) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 1.5 * 1rem);
    --_spacing---space--5: clamp(1.75 * 1rem, ((1.75 - ((2 - 1.75) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((2 - 1.75) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 2 * 1rem);
    --_spacing---space--8: clamp(2.5 * 1rem, ((2.5 - ((4 - 2.5) / (var(--site--viewport-max) - var(--site--viewport-min)) * var(--site--viewport-min))) * 1rem + ((4 - 2.5) / (var(--site--viewport-max) - var(--site--viewport-min))) * 100vw), 4 * 1rem);
    --_typography---font--primary-regular\<deleted\|variable-e2e11636-2778-b266-3d73-a7bb3f1f201f\>: 400;
    --_typography---font--primary-medium: 500;
    --radius--small: 1rem;
    --radius--round: 100vw;
    --border-width--main: .094rem;
    --_theme---border--primary: var(--_primitive-color---neutral--900);
    --_typography---line-height--1: 1;
    --_button-style---border-hover\<deleted\|variable-fa723e17-bdd1-ac4a-2de8-c62ccf489001\>: var(--_theme---button-primary--border-hover);
    --_button-style---background-hover\<deleted\|variable-4a5c6562-0a94-836e-aa8d-6ae2c8dd30a4\>: var(--_theme---button-primary--background-hover);
/* Show all properties (210 more) */
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}
::before, ::after {
    box-sizing: border-box;
}
::before, ::after {
    box-sizing: border-box;
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}
::selection {
    background-color: var(--_theme---selection--background);
    color: var(--_theme---selection--text);
}