/* @keyframes move {
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(30px, -35px); }
  100% { transform: translate(0, 0); }
}


.background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: #EFEBCE;
  overflow: hidden;
  z-index: -10;
  pointer-events: none; /* IMPORTANT */
}

/* BALL BASE */
.ball {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  border-radius: 50%;
  opacity: 0.95;
  animation: float ease-in-out infinite;
  filter: blur(2px);
}

/* COLORS */
.ball:nth-child(odd) {
  background: radial-gradient(circle at 30% 30%, #D7CE93,
    #A3A380);
}

.ball:nth-child(even) {
  background: radial-gradient(circle at 30% 30%, #D8A48F,
    #BB8588);
}

/* ---- POSITIONING (20 BALLS) ---- */

.ball:nth-child(1)  { top: 5%;  left: 10%; animation-duration: 40s; }
.ball:nth-child(2)  { top: 15%; left: 70%; animation-duration: 55s; }
.ball:nth-child(3)  { top: 30%; left: 20%; animation-duration: 48s; }
.ball:nth-child(4)  { top: 25%; left: 85%; animation-duration: 60s; }
.ball:nth-child(5)  { top: 45%; left: 5%;  animation-duration: 42s; }
.ball:nth-child(6)  { top: 50%; left: 60%; animation-duration: 50s; }
.ball:nth-child(7)  { top: 65%; left: 30%; animation-duration: 58s; }
.ball:nth-child(8)  { top: 70%; left: 80%; animation-duration: 46s; }
.ball:nth-child(9)  { top: 85%; left: 10%; animation-duration: 52s; }
.ball:nth-child(10) { top: 90%; left: 55%; animation-duration: 44s; }

.ball:nth-child(11) { top: 10%; left: 40%; animation-duration: 49s; }
.ball:nth-child(12) { top: 35%; left: 50%; animation-duration: 53s; }
.ball:nth-child(13) { top: 60%; left: 15%; animation-duration: 47s; }
.ball:nth-child(14) { top: 75%; left: 45%; animation-duration: 59s; }
.ball:nth-child(15) { top: 20%; left: 25%; animation-duration: 41s; }
.ball:nth-child(16) { top: 40%; left: 75%; animation-duration: 56s; }
.ball:nth-child(17) { top: 55%; left: 90%; animation-duration: 45s; }
.ball:nth-child(18) { top: 80%; left: 65%; animation-duration: 51s; }
.ball:nth-child(19) { top: 5%;  left: 85%; animation-duration: 60s; }
.ball:nth-child(20) { top: 95%; left: 25%; animation-duration: 43s; }

/* 
.ball:nth-child(odd) {
  animation-direction: alternate;
}

.ball:nth-child(even) {
  animation-direction: alternate-reverse;
}

.ball:nth-child(3n) {
  animation-duration: 22s;
}

.ball:nth-child(4n) {
  animation-duration: 28s;
}

.ball:nth-child(5n) {
  animation-duration: 35s;
} */



.ball {
  animation: float ease-in-out infinite;
  animation-duration: 6s; /* FAST base speed */
}

/* variation so they don't sync */
.ball:nth-child(odd) {
  animation-direction: alternate;
  animation-duration: 5s;
}

.ball:nth-child(even) {
  animation-direction: alternate-reverse;
  animation-duration: 7s;
}

.ball:nth-child(3n) {
  animation-duration: 4s;
}

.ball:nth-child(4n) {
  animation-duration: 8s;
}

.ball:nth-child(5n) {
  animation-duration: 6.5s;
}
