.navbar {
  position: fixed;
  top: 5;
  width: 100%;
  height: 90px;                 /* ⬅ Increased height */
  padding: 0 4rem;              /* ⬅ More horizontal space */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(12px);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 200;
  box-sizing: border-box;
  
}

/* .navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #EFEBCE;
  backdrop-filter: blur(12px);

  z-index: -20;   
} */


.navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.show {
  transform: translateY(0);
  opacity: 1;
}


/* LEFT */
.nav-left img {
  height: 80px;                 /* Slightly bigger logo */
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
  border: none;
}

/* CENTER */
.nav-center {
  font-family: "Calligraffitti", cursive;
  font-size: 4rem;
  color: #482930;
  white-space: nowrap;
  z-index: 10;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;
  z-index: 10;
}
