* {
  box-sizing: border-box;
}

.our-work {
  background: #dcdedb;
  padding: 60px 40px;
  font-family: "Segoe UI", sans-serif;
}

/* TOP */
.ourwork-top {
  display: flex;
  margin-bottom: 40px;
}

.ourwork-text {
  background: #3f4a54;
  color: #eaeaea;
  padding: 40px;
  width: 50%;
}

.ourwork-text h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.ourwork-image {
  width: 50%;
  background: #e9e6e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* MARQUEE */
.marquee {
  overflow: hidden;
  background: #e6c59a;
  margin: 40px 0;
}

.marquee-track {
  white-space: nowrap;
  padding: 15px 0;
  font-size: 18px;
  animation: move 15s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

