.review-card {
  position: absolute;
  width: 260px;
  height: 280px;
  padding: 20px;
  background: rgba(215, 206, 147, 0.75);
  border-radius: 5px;
  box-shadow: 0 28px 60px rgba(72, 41, 48, 0.15);
  cursor: grab;
  user-select: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(72, 41, 48, 0.15);

}
.review-card {
  cursor: grab;
}

.review-card:active {
  cursor: grabbing;
  z-index: 20;
}

.review-card:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  z-index: 10;
}


.review-card:hover .review-image {
  transform: scale(1.03);
  transition: transform 0.4s ease;
} 


.review-card p {
    color: #482930;
  font-size: 0.95rem;
  margin-bottom: 12px;
  line-height: 1.4;
}

.review-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0px;
  user-select: none;
  pointer-events: none;
}



.author {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;
  opacity: 0.8;
}

.author strong {
    color: #482930;
  font-weight: 600;
}

.author span {
    color: #BB8588;
  opacity: 0.7;
  font-size: 0.8rem;
}

/* Hiding cursor already done via inline style in section */

/* DRAG ME BOX */
/* .drag-box {
  position: fixed;
  width: 100px;
  height: 28px;
  background: #000;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  z-index: 9999;
} */
